/Eds Work/Music_Program/nbproject/private/
/Eds Work/Music_Program/build/
/Sams Work/TestingCoursework/dist/
/Sams Work/TestingCoursework/build/
/Sams Work/TestingCoursework/nbproject/private/
/Sams Work/MusicServer/dist/
/Sams Work/ChatServer/nbproject/private/
/Sams Work/ChatServer/build/